[build]
  base = "frontend/my-react-app"
  command = "npm run build"
  publish = "frontend/my-react-app/dist"

[build.environment]
  NODE_VERSION = "20"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
  force = true

